.form {
    width: 25rem;
    padding: 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
    border-radius: 1rem;
    background-image:
        linear-gradient(20deg, transparent 20%, rgba(0, 0, 0, 0.02) 20%, transparent),
        linear-gradient(-60deg, transparent 20%, rgba(0, 0, 0, 0.02) 20%, transparent);
    background-size:
        15px 15px,
        15px 15px;

    box-shadow: 0 0.1rem 1rem -0.1rem rgba(0, 0, 0, 0.1);
    border: 2px solid #eeeeee;
    backdrop-filter: blur(3px);
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form input {
    font-size: 1.2rem;
    border: 0;
    line-height: 2.2;
    border-radius: 5px;
    transition: 0.1s;
}

.form input:hover,
.form input:focus {
    transform: scale(1.01);
}

.submit {
    margin-top: 2rem;
    border: 0;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    background:
        linear-gradient(30deg, transparent 45%, #272727 0, #272727 55%, transparent 0),
        linear-gradient(-60deg, transparent 45%, #272727 0, #272727 55%, transparent 0),
        linear-gradient(45deg, rgb(50, 50, 50), rgb(27, 27, 27));
    background-size:
        10px 10px,
        10px 10px,
        auto;
    /* border: 3px solid #fff; */
    color: #fff;
    box-shadow: 0 0.1rem 0.5rem -0.1rem rgba(0, 0, 0, 0.2);
    font-weight: 700;
    transition: 0.2s;
}

.submit:hover,
.submit:focus {
    transform: scale(1.02);
    box-shadow: 0 0.1rem 0.6rem -0.09rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    .sign>h1 {
        padding: 0 3rem;
    }
}