:root {
    --background-color: #fbfbfb;
    --board-width: 22rem;
    --board-height: 30rem;
    --nav-width: 20rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: '__Noto_Sans_KR_571239', '__Noto_Sans_KR_Fallback_571239';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
    position: relative;
}

body {
    position: relative;
    background-color: var(--background-color);
    background-image:
        radial-gradient(circle, transparent 15%, var(--background-color) 15%, var(--background-color) 21%, transparent 21%, transparent),
        linear-gradient(to right, #f0f0f0 1px, transparent 1px),
        linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
        radial-gradient(circle, transparent 15%, var(--background-color) 15%, var(--background-color)),
        linear-gradient(to right, #f0f0f0 3px, transparent 3px),
        linear-gradient(to bottom, #f0f0f0 3px, transparent 3px);
    background-size:
        100px 100px;
    background-position:
        calc(50% - 50px) calc(50% - 50px),
        50% 50%,
        50% 50%,
        calc(50% - 50px) calc(50% - 50px),
        calc(50% - 1px) calc(50% - 1px),
        calc(50% - 1px) calc(50% - 1px);
    display: grid;
    grid-template: 4rem 1fr / 20rem 1fr;
    grid-template-areas:
        "navigator main"
        "navigator main";
}

header {
    grid-area: header;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    grid-area: navigator;
    color: #fff;
    padding: 3rem;
    position: fixed;
    width: var(--nav-width);
    height: 100vh;

    background-image:
        radial-gradient(ellipse farthest-corner at 10px 10px, #373737, #373737 50%, transparent 50%),
        linear-gradient(-30deg, #3a3a3a, #303030);
    background-size:
        10px 10px,
        auto;
    transition: 0.2s;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    width: 50rem;
    padding: 2rem 0;
    gap: 4rem;
}

footer {
    grid-area: footer;
}

a {
    color: inherit;
}

.loading {
    border-radius: 0.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem -0.1rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
    }

    nav {
        left: -20rem;
        z-index: 20;
    }

    main {
        width: auto;
        gap: 2rem;
    }
}