:root {
    --background-color: #fbfbfb;
    --board-width: 22rem;
}

@media (prefers-color-scheme: dark) {
    :root {}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: '__Noto_Sans_KR_571239', '__Noto_Sans_KR_Fallback_571239';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
    position: relative;
}

body {
    position: relative;
    background-color: var(--background-color);
    background-image:
        radial-gradient(circle, transparent 15%, var(--background-color) 15%, var(--background-color) 21%, transparent 21%, transparent),
        linear-gradient(to right, #f0f0f0 1px, transparent 1px),
        linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
        radial-gradient(circle, transparent 15%, var(--background-color) 15%, var(--background-color)),
        linear-gradient(to right, #f0f0f0 3px, transparent 3px),
        linear-gradient(to bottom, #f0f0f0 3px, transparent 3px);
    background-size:
        100px 100px;
    background-position:
        -50px -50px,
        0 0,
        0 0,
        -50px -50px,
        -1px -1px,
        -1px -1px;
    display: grid;
    grid-template: 4rem 1fr / 20rem 1fr;
    grid-template-areas:
        "navigator main"
        "navigator main";
}

header {
    grid-area: header;
    display: none;
}

nav {
    grid-area: navigator;
    color: #fff;
    background: #373737;
    padding: 3rem;
    position: fixed;
    width: 20rem;
    height: 100vh;
}

main {
    grid-area: main;
}
main>section {
    margin-bottom: 4rem;
}

footer {
    grid-area: footer;
}

a {
    color: inherit;
}

.loading {
    border-radius: 0.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 9999;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem -0.1rem rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}