:root {
    --background-color: #fbfbfb;
}

@media (prefers-color-scheme: dark) {
    :root {}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    position: relative;
    background-color: var(--background-color);
    background-image:
        radial-gradient(circle, transparent 15%, var(--background-color) 15%, var(--background-color) 21%, transparent 21%, transparent),
        linear-gradient(to right, #f0f0f0 1px, transparent 1px),
        linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
        radial-gradient(circle, transparent 15%, var(--background-color) 15%, var(--background-color)),
        linear-gradient(to right, #f0f0f0 3px, transparent 3px),
        linear-gradient(to bottom, #f0f0f0 3px, transparent 3px);
    background-size:
        100px 100px;
    background-position:
        -50px -50px,
        0 0,
        0 0,
        -50px -50px,
        -1px -1px,
        -1px -1px;
}

a {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}